/* Cube ref: https://stackoverflow.com/questions/36331335/how-to-create-cube-with-only-html-and-css */

:root {
  --cube-shadow-color: yellow;
}

.cube {
  position: relative;
  width: 202px;
  height: 190px;
  margin: 0px auto;
  margin-top: 60px;
}

.side0 {
  width: 110px;
  height: 110px;
  background: red;
  transform: rotate(45deg) skew(-15deg, -15deg);
  position: absolute;
  left: 46px;
  top: -42px;
  opacity: 0.6;
  box-shadow: 0px 0px 0px 0px var(--cube-shadow-color);
  transition: box-shadow 0.5s ease-in-out;
}

.side1 {
  width: 100px;
  height: 100px;
  background: green;
  transform: skew(180deg, 150deg);
  position: absolute;
  left: 102px;
  top: 43px;
  opacity: 0.6;
  box-shadow: 0px 0px 0px 0px var(--cube-shadow-color);
  transition: box-shadow 0.5s ease-in-out;
}

.side2 {
  width: 100px;
  height: 100px;
  background: blue;
  transform: skew(180deg, 210deg);
  position: absolute;
  top: 43px;
  opacity: 0.6;
  box-shadow: 0px 0px 0px 0px var(--cube-shadow-color);
  transition: box-shadow 0.5s ease-in-out;
}

/* Cube side style when turned "on" */
.on {
  opacity: 1;
}

/* Cube side style when it's the player's turn */
.player {
  cursor: pointer;
  box-shadow: 0px 0px 5px 2.5px var(--cube-shadow-color);
  transition: box-shadow 0.5s ease-in-out;
}

/* Cuber container style when it's the player turn */
.player-cube {
  /* border: 1px solid red; */
}
