.center {
  /* border: 1px solid red; */
  text-align: center;
}

.button {
  margin-left: 5px;
  margin-right: 5px;
}

.highscore-name {
  font-variant: small-caps;
  font-size: 1.5rem;
  line-height: 1;
}

.highlighted {
  background-color: rgba(255, 196, 0, 0.342);
}
