@import url("https://fonts.googleapis.com/css2?family=Katibeh&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

h1 {
  /* border: 1px solid red; */
  font-family: "Monoton", sans-serif;
  font-size: 4rem;
  color: red;
  line-height: 70%;
  /* margin-bottom: 35px; */
}

h4 {
  margin-bottom: 50px;
}

.App {
  /* border: 1px solid red; */
  text-align: center;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

.name {
  /* font-family: "Monoton", sans-serif; */
  font-size: 1.5rem;
  font-variant: small-caps;
  color: red;
}

/* Make a media query to make this direction column */
.main {
  /* border: 1px solid green; */
  display: flex;
  gap: 20px;
}

.main-inside {
  border: 1px solid red;
  min-width: 200px;
  min-height: 300px;
}
