@import url("https://fonts.googleapis.com/css2?family=Katibeh&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

h1 {
  /* border: 1px solid red; */
  font-family: "Monoton", sans-serif;
  font-size: 4rem;
  color: red;
  line-height: 70%;
  /* margin-bottom: 35px; */
}

h4 {
  margin-bottom: 50px;
}

.right-menu-button {
  border: 1px solid red;
  border-radius: 7px;
  background: transparent;
  color: red;
  min-width: 125px;
  transition: border, color 0.5s ease-out;
  /* margin: 5px; */
}

.right-menu-button:disabled {
  border: 1px solid rgb(255, 150, 150);
  color: rgb(255, 150, 150);
}

.right-menu-button:hover:not([disabled]),
.right-menu-button:focus:not([disabled]) {
  outline: none;
  background: yellow;
}

.info-button {
  border: 2px solid yellow;
  border-radius: 50%;
  background: transparent;
  color: yellow;
  min-width: 30px;
  min-height: 30px;
  margin-top: 15px;
  font-size: 1rem;
  transition: border, color 0.5s ease-out;
  /* margin: 5px; */
}

.info-button:disabled {
  border: 1px solid rgb(255, 255, 150);
  color: rgb(255, 255, 150);
}

.info-button:hover:not([disabled]),
.info-button:focus:not([disabled]) {
  outline: none;
  background: red;
}

.App {
  /* border: 1px solid red; */
  text-align: center;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

.name {
  /* font-family: "Monoton", sans-serif; */
  font-size: 2rem;
  font-variant: small-caps;
  line-height: 1;
  color: red;
}

/* Make a media query to make this direction column */
.main {
  /* border: 1px solid green; */
  display: flex;
  gap: 20px;
}

.main-inside {
  /* border: 1px solid red; */
  min-width: 200px;
  min-height: 300px;
}
